html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

#wrapper {
  width: 1000px;
  margin: 0 auto;
  border-width: 0 1px;
  border-color: #666;
  border-style: solid;
  background-color: #bdf;
  padding: 0;
}

header {
  text-align: left;
}

h1 {
  margin: 0;
}

nav {
  text-align: left;
}

.menu-item {
  border: 1px solid #fff;
  width: 20px;
}

h3 {
  margin: 0;
}

footer {
  border-top: 1px solid white;
  background-color: #000;
  margin: 0;
  padding: 0;
}
