html, body {
  background-attachment: fixed;
  background-color: #000;
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #eee;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  min-height: 100%;
  padding: 0;
  text-align: center;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  background-color: #ff9933;
  color: #ffffff;
}

::-moz-selection {
  background-color: #ff9933;
  color: #ffffff;
}

a, a:visited, a:active {
  color: #ff9933;
  text-decoration: none;
}

#container {
  display: inline-block;
  width: auto;
  max-width: 90ch;
  margin: auto;
  background: rgba(0, 0, 0, 0.9);
  padding: 10px 50px;
}

#top {
  margin-top: 50px;
}

#top > img {
  margin: auto;
  display: flex;
  width: 300px;
  height: 300px;
  border-radius: 300px;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
}

#top > p {
  color: #969696;
  font-style: italic;
}

#top > ul {
  text-align: left;
}

#contact-icons ul, #contact-icons li {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 40px;
}

div.portfolio-box {
  width: 800px;
  margin: auto;
  padding: 20px 0;
  vertical-align: top;
  border-top: 1px solid white;
  display: flex;
  align-items: flex-start;
}

div.project-img {
  width: 280px;
  display: inline-block;
}

img {
  width: 100%;
}

h2 {
  text-align: left;
}

h3 {
  margin: 0 0 15px 0;
}

div.project-meta {
  width: 520px;
  display: inline-block;
  color: #969696;
  text-align: left;
  padding-left: 10px;
}

h1, h2, h3 {
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  color: #fff;
}

div.project-meta p {
  margin: 0px;
}

div.project-meta p::before {
  color: #fff;
  display: inline-block;
  font-family: FontAwesome;
  width: 30px;
}

p.code::before {
  content: '\f121';
}

p.people::before {
  content: '\f007';
}

p.links::before {
  content: '\f08e';
}

p.description::before {
  content: '\f0f6';
}

article {
  text-align: justify;
  max-width: 60ch;
}

article h1 {
  text-align: left;
}

#date {
  text-align: right;
  font-style: italic;
}
