html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  background-image: url('img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-family: Roboto;
}

#wrapper {
  margin: auto;
  width: 1000px;
  text-align: left;
}

#side-left {
  background-image: url('img/background-div.png');
  width: 350px;
  padding: 10px;
  float: left;
  border-right: 1px solid white;
}

#profile {
  width: 100%;
}

h1 {
  font-family: "Open Sans";
  margin-top: 10px;
}

p {
  text-indent: 20px;
  font-family: Roboto;
}

a, a:visited, a:active {
  color: #fff135;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 350px;
}

li {
  font-size: 40px;
  display: inline;
  margin: 5px;
}

#side-right {
  background-image: url('img/background-div.png');
  width: 609px;
  padding: 10px;
  float: left;
}

div.project-box {
  margin-top: 20px;
}

div.project-image {
  width: 608px;
  height: 342px;
  border: 1px solid white;
}

div.project-header {
  padding: 10px 0 0 10px;
  height: 32px;
  margin-top: 300px;
  background-image: url('img/background-div.png');
}

h3 {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
}

