---
layout: default
---

<img src='images/profile.jpg'>
<h1>marton bognar</h1>
<p>Computer Science @ KU Leuven</p>
{% if site.posts.size != 0 %}
<h2>Blog posts:</h2>
<ul>
  {% for post in site.posts %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}
<div id='contact-icons'>
  <ul>
    <li><a target='_blank' href='https://github.com/martonbognar'><i class='fa fa-github'></i></a></li>
    <li><a target='_blank' href='mailto:martonbognar@sch.bme.hu'><i class='fa fa-envelope-o'></i></a></li>
    <li><a target='_blank' href='https://instagram.com/martonbognar'><i class='fa fa-instagram'></i></a></li>
  </ul>
</div>
