---
layout: default
---

<img src='images/me.jpg'>
<h1>marton bognar</h1>
<p>Computer Science @ KU Leuven</p>
<h2>Publications</h2>
<ul id='publications'>
  <li>
    <span class='title'>Libra: Architectural Support for Principled, Secure and Efficient Balanced Execution on High-End Processors</span>
    <br>
    <span class='venue'>CCS '24</span>
    <br>
    <span class='authors'>Hans Winderix, <u>Marton Bognar</u>, Lesly-Ann Daniel, Frank Piessens</span>
    <br>
    <a href='papers/winderix24libra.pdf'>pdf</a> ·
    <a href='https://arxiv.org/abs/2409.03743'>extended pdf</a> ·
    <a href='papers/winderix24libra.bib'>bibtex</a> ·
    <a href='https://github.com/proteus-core/libra'>github</a>
  </li>

  <li>
    <span class='title'>Intellectual Property Exposure: Subverting and Securing Intellectual Property Encapsulation in Texas Instruments Microcontrollers</span>
    <br>
    <span class='venue'>USENIX Security '24</span>
    <br>
    <span class='authors'><u>Marton Bognar</u>, Cas Magnus, Frank Piessens, Jo Van Bulck</span>
    <br>
    <a href='papers/bognar24exposure.pdf'>pdf</a> ·
    <!-- <a href='https://dblp.org/rec/conf/sp/BognarBP22.html'>dblp</a> · -->
    <a href='papers/bognar24exposure.bib'>bibtex</a> ·
    <a href='https://github.com/martonbognar/ipe-exposure'>github</a>
    <!-- <a href='https://youtu.be/5gQfDpDN4eU'>presentation</a> ·
    <a href='papers/gap-poster.pdf'>poster</a> -->
  </li>

  <li>
    <span class='title'>Architectural Mimicry: Innovative Instructions to Efficiently Address Control-Flow Leakage in Data-Oblivious Programs</span>
    <br>
    <span class='venue'>S&P '24</span>
    <br>
    <span class='authors'>Hans Winderix, <u>Marton Bognar</u>, Job Noorman, Lesly-Ann Daniel, Frank Piessens</span>
    <br>
    <a href='papers/winderix24ami.pdf'>pdf</a> ·
    <a href='papers/winderix24ami.bib'>bibtex</a> ·
    <a href='https://gitlab.com/hanswinderix/ami'>gitlab</a>
  </li>

  <li>
    <span class='title'>ProSpeCT: Provably Secure Speculation for the Constant-Time Policy</span>
    <br>
    <span class='venue'>USENIX Security '23</span>
    <br>
    <span class='authors'>Lesly-Ann Daniel, <u>Marton Bognar</u>, Job Noorman, Sébastien Bardin, Tamara Rezk, Frank Piessens</span>
    <br>
    <a href='papers/daniel23prospect.pdf'>pdf</a> ·
    <a href='https://arxiv.org/abs/2302.12108'>extended pdf</a> ·
    <a href='https://dblp.org/rec/conf/uss/DanielBNBRP23.html'>dblp</a> ·
    <a href='https://dblp.org/rec/conf/uss/DanielBNBRP23.html?view=bibtex'>bibtex</a> ·
    <a href='https://github.com/proteus-core/prospect'>github</a>
  </li>

  <li>
    <span class='title'>ShowTime: Amplifying Arbitrary CPU Timing Side Channels</span>
    <br>
    <span class='venue'>AsiaCCS '23</span>
    <br>
    <span class='authors'>Antoon Purnal, <u>Marton Bognar</u>, Frank Piessens, Ingrid Verbauwhede</span>
    <br>
    <a href='papers/purnal23showtime.pdf'>pdf</a> ·
    <a href='https://dblp.org/rec/conf/asiaccs/PurnalBPV23.html'>dblp</a> ·
    <a href='https://dblp.org/rec/conf/asiaccs/PurnalBPV23.html?view=bibtex'>bibtex</a> ·
    <a href='https://github.com/KULeuven-COSIC/ShowTime'>github</a> ·
    <a href='https://www.youtube.com/watch?v=CP1bcche7oA'>presentation (RuhrSec '23)</a> ·
    <a href='papers/showtime-poster.pdf'>poster</a>
  </li>

  <li>
    <span class='title'>MicroProfiler: Principled Side-Channel Mitigation through Microarchitectural Profiling</span>
    <br>
    <span class='venue'>EuroS&P '23</span>
    <br>
    <span class='authors'><u>Marton Bognar</u>, Hans Winderix, Jo Van Bulck, Frank Piessens</span>
    <br>
    <a href='papers/bognar23microprofiler.pdf'>pdf</a> ·
    <a href='https://dblp.org/rec/conf/eurosp/BognarWBP23.html'>dblp</a> ·
    <a href='https://dblp.org/rec/conf/eurosp/BognarWBP23.html?view=bibtex'>bibtex</a> ·
    <a href='https://github.com/martonbognar/microprofiler'>github</a>
  </li>

  <li>
    <span class='title'>Proteus: An Extensible RISC-V Core for Hardware Extensions</span>
    <br>
    <span class='venue'>RISC-V Summit Europe '23</span>
    <br>
    <span class='authors'><u>Marton Bognar</u>, Job Noorman, Frank Piessens</span>
    <br>
    <a href='papers/bognar23proteus.pdf'>pdf</a> ·
    <a href='papers/bognar23proteus.bib'>bibtex</a> ·
    <a href='https://github.com/proteus-core/proteus'>github</a> ·
    <a href='papers/proteus-poster.pdf'>poster</a>
  </li>

  <li>
    <span class='title'>Mind the Gap: Studying the Insecurity of Provably Secure Embedded Trusted Execution Architectures</span>
    <br>
    <span class='venue'>S&P '22</span>
    <br>
    <span class='authors'><u>Marton Bognar</u>, Jo Van Bulck, Frank Piessens</span>
    <br>
    <a href='papers/bognar22gap.pdf'>pdf</a> ·
    <a href='https://dblp.org/rec/conf/sp/BognarBP22.html'>dblp</a> ·
    <a href='https://dblp.org/rec/conf/sp/BognarBP22.html?view=bibtex'>bibtex</a> ·
    <a href='https://github.com/martonbognar/gap-attacks'>github</a> ·
    <a href='https://youtu.be/5gQfDpDN4eU'>presentation</a> ·
    <a href='papers/gap-poster.pdf'>poster</a>
  </li>
</ul>
<h2>Community service</h2>
<ul>
  <li>Reviewer for Computers & Security</li>
  <li>Artifact Evaluation Committee member for SysTEX '24, NDSS '25</li>
  <li>External reviewer for SysTEX '24</li>
  <li>Subreviewer for S&P '21, ESORICS '21, CCS '21, SEED '21, EuroS&P '22, S&P '24</li>
</ul>
<h2>Thesis students</h2>
<ul>
  <li><span class='student'>Zidan Bortels</span> <span class='year'>(2023)</span></li>
  <li><span class='student'>Alexander Lescroart</span> <span class='year'>(2022-2023)</span></li>
  <li><span class='student'>Martijn Dendooven</span> <span class='year'>(2023)</span></li>
  <li><span class='student'>Cas Magnus</span> <span class='year'>(2022-2023)</span></li>
  <li><span class='student'>Jolan Hofmans</span> <span class='year'>(2021-2022)</span></li>
</ul>
{% if site.posts.size != 0 %}
<h2>Blog posts</h2>
<ul>
  {% for post in site.posts %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}
<div id='contact-icons'>
  <ul>
    <li><a target='_blank' href='https://github.com/martonbognar'><i class='fa fa-github'></i></a></li>
    <li><a target='_blank' href='mailto:marton.bognar@kuleuven.be'><i class='fa fa-envelope-o'></i></a></li>
    <li><a target='_blank' href='https://instagram.com/martonbognar'><i class='fa fa-instagram'></i></a></li>
    <li><a target='_blank' href='https://twitter.com/martonbognar'><i class='fa fa-twitter'></i></a></li>
  </ul>
</div>
