@media (max-width: 800px) {

  #container {
    padding: 0;
  }

  #top {
    margin-top: 0;
  }

  #top img {
    width: 80vw;
    height: 80vw;
    border-radius: 80vw;
    -webkit-border-radius: 80vw;
    -moz-border-radius: 80vw;
  }

  div.portfolio-box {
    width: 100%;
    flex-direction: column;
  }

  div.project-img {
    width: 100%;
    display: block;
  }

  div.project-meta {
    width: 100%;
    display: block;
  }

}
