@media (max-width: 1000px) {

  html, body {
    margin: 0;
    padding: 0;
  }

  body {
    font-size: 1em;
  }

  #wrapper {
    width: 100%;
  }

  #side-left {
    float: none;
    width: 100%;
    position: relative;
    padding: 1em;
    margin: 0;
    box-sizing: border-box;
  }

  h1 {
    margin-top: 1em;
  }

  p {
    text-indent: 4em;
  }

  ul {
    width: 100%;
  }

  li {
    font-size: 4em;
    margin: 0.5em;
  }

  #side-right {
    width: 100%;
    padding: 1em;
  }

  div.project-box {
    margin: 2em 0 0 0;
    width: 100vw;
    height: 56.25vw;
    box-sizing: border-box;
  }

  div.project-header {
    padding: 1em 0 0 2em;
    height: 3em;
  }

  span.more-info {
    margin-right: 1em;
  }

  div.description {
    padding: 0 1em;
  }

  div.meta p {
    padding-bottom: 1.5em;
  }

}
