<!doctype html>
<html>

<head>
  <title>marton bognar - mici.hu</title>
  <link rel='stylesheet' type='text/css' href='/css/main.css'>
  <link rel='stylesheet' type='text/css' href='/css/mobile.css'>
  <link rel='stylesheet' type='text/css' href='/css/lightbox.min.css'>
  <meta charset='utf-8'>
  <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon'>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@600&family=Noto+Sans&display=swap" rel="stylesheet">

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-TYTGPK1MEP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-TYTGPK1MEP');
  </script>
</head>

<body>
  <div id='container'>
    <div id='top'>
      {{ content }}
    </div>
  </div>
</body>

</html>
