<!doctype html>
<html>
<head>
    <link rel='stylesheet' type='text/css' href='/css/base.css'>
    <title>{{ page.title }}</title>
    <meta charset='utf-8'>
    <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon'>
</head>
<body>
    <div id='wrapper'>
        <header>
            <h1>marton bognar</h1>
            <h2>Failure is always an option</h2>
        </header>
        <nav>
            <ul id='menu'>
                <li><a href='/'>about</a></li>
                <li><a href='/projects'>projects</a></li>
            </ul>
        </nav>
        <section>
            {{ content }}
        </section>
    </div>
    <footer>
        <ul id='contact-box'>
            <li><a href='//steamcommunity.com/id/mici-'>Steam</a></li>
            <li><a href='//twitch.tv/mici_'>Twitch</a></li>
            <li><a href='//linkedin.com/in/martonbognar'>Linkedin</a></li>
            <li><a href='//youtube.com/megamicimacko'>YouTube</a></li>
            <li><a href='//twitter.com/martonbognar'>Twitter</a></li>
            <li><a href='//github.com/mici-'>GitHub</a></li>
        </ul>
    </footer>
</body>
</html>
