<!doctype html>
<html>
<head>
    <link rel='stylesheet' type='text/css' href='/css/base.css'>
    <title>{{ page.title }}</title>
    <meta charset='utf-8'>
    <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon'>
</head>
<body>
    <div id='wrapper'>
        <header>
            <h1>marton bognar</h1>
            <h2>Failure is always an option</h2>
        </header>
        <nav>
            <a href='#about'><span class='menu-item'>about</span></a>
            <a href='#projects'><span class='menu-item'>projects</span></a>
            <a href='#blog'><span class='menu-item'>blog</span></a>
        </nav>
        {{ content }}
    </div>
    <footer>
        steam twitch linkedin youtube twitter github
    </footer>
</body>
</html>
